# ----------------------------------
# Python
# ----------------------------------
__pycache__/
*.py[cod]

# ----------------------------------
# Virtual Environment
# ----------------------------------
.solutionworks/

# ----------------------------------
# Django
# ----------------------------------
media/
staticfiles/

# Environment variables / secrets
.env
.env.*
*.env

# Logs
*.log

# ----------------------------------
# IDE / OS
# ----------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
