.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card.responsive-box {
    min-height: 60vh;
}

@media (min-width: 1200px) {
    .card.responsive-box {
        min-height: 80vh;
    }
}

