.hero {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.section_background_1 {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 20vh;
}

.footer_1 {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 5vh;
}

.mint-box{
  position: relative;
  min-height: 500px;
  background-color: #DFF3E8;
}

.white-box{
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  min-height: 250px;
  background-color: white;
  z-index: 10;

  border-radius: 16px;
  box-shadow: 0 12px 32px rgba(0,0,0,0.08);
}



.logo {
  height: 60px;
  width: 100px;
}

.font_1 {
  font-family:'Segoe UI';
}

.font_2 {
  font-family:'Lucida Sans Unicode';
}

.text_justify {
  text-align: justify;
  text-align-last: left;
}

.element_1 {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: white;
  animation: spin 2.8s forwards ;
}

@keyframes spin {
  0% {

  }
  50% {
    scale:2;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 10px;
  }
  
}

.intro {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: hideIntro 0.5s ease forwards;
  animation-delay: 3.5s;
}

@keyframes hideIntro {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.hidden_page {
  opacity: 0;
  animation: showPage 0.5s ease forwards;
  animation-delay: 3.5s;
}

@keyframes showPage {
  to {
    opacity: 1;
  }
}