{% extends 'base.html' %}
{% load static %}


{% block content %}

    <section  class="section_background_1 d-flex justify-content-center align-items-center">

            <div class="text-center">
                <h2 style="color: #eef6f0;"><em>The perfect "Human-Made Websites" <br> for free! </em></h2> 

            </div>

    </section>

    <section class="m-5">
    <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-lg-8" >
                <br>
                <h2 class="text-start">About Us</h2>
                <em class="text_justify" style="color: rgb(58, 58, 249)">
                    .SolutionWorks is a non-profit web project that to help small local businesses run their own websites for free.**<br>
                </em>
                <br>
                <p class="text-start">
                    The goal of .SolutionWorks is to support local communities by providing simple, ready-to-use website templates for small businesses such as barbershops, nail salons, and restaurants. These templates will include practical features like appointment booking, basic business information, and service listings.
                </p>

            </div>
            <div class="col-12 col-lg-4">
                <br><br><br>
                <img src="{% static 'images/webpage_graphic.png' %}" class="img-fluid" alt="webpage_graphic" style="border-radius: 10px;">
            </div> 
        </div>   
    </div>
    </section>

    <section class="m-5">
        <br><br>
        <div class="container">
            <div class="row align-items-center justify-content-center" >
                <div class="col-10 border" style="min-height: 150px; background-color: #DFF3E8;">
                    <br>
                    <h5 class="text-center"><em>Our Story</em></h5>
                    <p class="text-center">
                        "As a college student, I was looking for a way to take my first step into the workforce. After facing many rejections from recruiters, I learned how hard it can be to start a career.
                        Instead of giving up, I chose to keep moving forward. Through SolutionWorks, I am helping myself grow while also helping others who are facing a difficult start in their business journey.
                        I will not stop — and you will not have to either. Let us work together to make life better, one step at a time."
                    </p>
                </div>
            </div>
        </div>

    </section>

    <section class="m-5">

        <div class="container">
            <br><br>
            <div class="row">
                <h3>Our Values</h3>
            </div>

            <div class="row d-flex">

                <div class="col-12 col-lg-4" style="text-align: justify; text-align-last: left;">
                    <br>
                    <h6>Accessibility</h6>
                    <p>Going online is the only way to reach people all over the world. We help small businesses build an online presence so everyone has a chance to be seen.</p>
                    <h6>Simplicity</h6>
                    <p>Good websites do not need to be complicated. We focus on clean, clear, and useful designs.</p>
                </div>

                <div class="col-12 col-lg-4" style="text-align: justify; text-align-last: left;">
                    <br>
                    <h6>Human-Centered Work</h6>
                    <p>We believe real people understand real needs. Our websites are made with care, not mass-produced.</p>
                    <br>
                    <h6>Community First</h6>
                    <p>We support local businesses because strong communities build better futures.</p>
                </div>

                <div class="col-12 col-lg-4" style="text-align: justify; text-align-last: left;">
                    <img src="{% static 'images/trophy.png' %}" class="img-fluid" alt="Trophy">
                </div>

            </div>

        </div>

    </section>

    <section class="m-5">
        <div claas="container">
            <div class="row">

                <div class="row d-flex">
                        <div class="col-8 border position-relative hero" style=" border-radius:10px; min-height:500px; right: -100px;">
                            <div class="text-center">
                                <br>
                                <h3><em>Phat T. Chung</em></h3>
                                <em>.SolutionWorks Founder</em>
                            </div>
                            <div class="text-start m-4">
                                <p>
                                <a href="https://www.linkedin.com/in/phat-t-chung-88a2983a1/">LinkedIn</a>/
                                <a href="https://www.facebook.com/tanphattpy/">facebook</a>/
                                <a href="https://www.instagram.com/chung_tanphat1904/">Instagram</a>
                                </p>
                                <p><b>Email</b>: phatchung1904@gmail.com</p>
                                <p><b>Mobile</b>: +1-781-627-6281</p> 
                                <p>Please email me for work! I am looking forward to work with you!</p>                                
                            </div>
                            <div class="col-6 position-absolute d-flex align-items-center justify-content-center" style=" min-height:350px; right:-180px; top: 50px;">
                                <img src="{% static 'images/Phat_Chung.jpg' %}" style="max-width: 70%; height: auto; border-radius: 20%;">
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}