{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">

        <br><br>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">                    
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
        
        <br><br>
        <div class="row">

            <div class="col-12 col-lg-6">

                <div class="d-none d-lg-block">  
                <h1 class="text-light">We understand that getting started can be tough. </h1>
                </div>

            </div>
            
            <div class="col-12 col-lg-6">

                <div class="card" style="width: 80vm;">

                    <div class="card-body">

                        <h4>About us</h4>

                        <div class="row">

                            <p class="card-text" style="text-align: justify; text-align-last: left;">
                                SolutionWorks is a non-profit business building to help small local businesses run their own websites for free.<br><br>
                                The goal of SolutionWorks is to support local communities by providing simple, ready-to-use website templates for small businesses such as barbershops, nail salons, and restaurants. These templates will include practical features like appointment booking, basic business information, and service listings.<br><br>
                                Through SolutionWorks, local business owners can choose a template that fits their needs, and I help them set up a professional website without cost or technical barriers. This project is focused on accessibility, simplicity, and real-world usefulness rather than profit.<br><br>
                                
                            </p>

                        </div>

                    </div>

                </div>

            </div>


        </div>

        <br><br>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body"></div>
                </div>

            </div>
            <div class="col-12 col-lg-6">

            </div>

        </div>

    </div>
{% endblock %}