{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="hero">
    <section class="d-none d-lg-block donate_background" >
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-6 d-flex align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="card bg-light shadow-lg border-0" style="height: 60vh; width: 500px;">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="d-block d-lg-none" style="min-height: 100vh;" >
        <div class="container">
            <br><br><br><br>
            <div class="row" style="height: 50px;">
                <h1 class="text-center">Make the donation</h1>
            </div>
            <br><br>
            <div class="row d-flex align-items-start justify-content-center" style="height: 70vh;">

                <div class="col-12">
                    <div class="card bg-dark shadow-lg border-0" style="height: 60vh; width: 500px;">

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
